body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  background-color: rgb(0, 0, 0);
  overscroll-behavior: none;
  font-family: Thiccboi, Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
}

.wrapper-input {
  justify-content: center;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.title-input {
  color: white;
  font-size: 20px;
}

.input {
  width: 70%;
  height: 40px;
  border-radius: 8px;
}

.button-submit {
  width: 70%;
  height: 40px;
  color: black;
  background-color: wheat;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 16px;
}


.wrapper-video-and-controls {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  gap: 10px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0px;
}

.player-wrapper {
  position: relative;
  /* padding-top: 56.25%;  */
  /* Player ratio: 100 / (1280 / 720) */
  /* border: 2px solid yellow; */
  height: calc(40vh - 20px);
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.react-player-controls {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px 10px 10px;
}

.control-stop-play {
  height: 30px;
  width: 50px;
  margin-right: 20px;
  background: wheat;
  border: none;
  border-radius: 4px;
  color: black;
}

.wrapper-subtitles {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  width: 100%;
  height: auto;
  overflow-y: hidden;
}

.caja-subtitles {
  overflow-y: auto;
  /* height: calc(50% - 10px); // Para cuando quiero la traducicon debajo  */
  height: 400px;
  width: 100%;
  /* border: 2px solid green; */
  background: black;
}

.ul-subtitles {
  margin: 0;
  padding-left: 10px;
}

.li-subtitles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  cursor: pointer;

  /*   background-color: index===currentSegmentIndex ?  yellow :  transparent ;*/
}

.time-subtitle {
  font-size: 14px;
  line-height: 1.75rem;
  color: white;
  opacity: 40%;
  padding-right: 14px;

}

.text-wrapper {
  display: flex;
  width: 100%;
}

.text-subtitle {
  justify-content: flex-start;
  font-size: 16px;
  line-height: 1.75rem;
  font-weight: 200;
  color: white;
  cursor: "pointer";
  padding-right: 4px;

}

.caja-traduccion {
  overflow-y: hidden;
  height: calc(50% - 10px);
  width: 100%;
  /* border: 2px solid blue; */
  background: black;
  padding: 10px;
}

.texto-entero-traducido {
  font-size: 16px;
  line-height: 1.755;
  color: #646464
}



.caja-subtitles::-webkit-scrollbar {
  width: 10px;
}

.caja-subtitles::-webkit-scrollbar-track {
  background: #000000;
}

.caja-subtitles::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;

}

.caja-subtitles::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.modal-word {
  width: 100%;
  /* height: 40vh; */
  /* height: 20vh; */
  height: auto;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  background-color: rgb(80, 80, 80);
  color: black;
  position: fixed;
  bottom: 0;
  z-index: 100;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  /* border: 2px solid red; */
  /* box-shadow: */
  transition: bottom 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
}

.modal-button-close-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.modal-button-close {
  background: rgb(80, 80, 80);
  border: none;
  color: #ffffff;
  font-size: 20px;
}

.container-google-translation {
  color: wheat;
}

.container-google-translation p {
  font-size: 18px;
  color: white
}

.modal-pronunciations {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  font-size: 14px;
}